<div class="d-flex flex-column bg-info-subtle rounded-2 p-1 mb-2">
    <div class="d-flex p-1 gap-1">
        <img class="rounded-2" src="@Content.CreatorIconUri" alt="User Icon" width="50" height="50">
        <div>
            <div class="fs-6 fw-bold">@Content.CreatorName</div>
            <small class="text-muted">@Content.SendTime</small>
        </div>
    </div>
    <p class="m-1 border-top border-dark-subtle fs-6 text-break">@Content.Context</p>
</div>

@code {
    [Parameter]
    public ConversationDto Content { get; set; } = new();
}