@inject IUserService UserService

<div class="d-flex flex-column bg-info-subtle rounded-2 p-1 mb-2">
    <div class="d-flex p-1 gap-1">
        <img class="rounded-2" src="@(string.IsNullOrWhiteSpace(userIconURI) ? defaultIconURI : userIconURI)" />
            alt="User Icon" width="50" height="50">
        <div>
            <div class="fs-6 fw-bold">@(string.IsNullOrWhiteSpace(userName) ? "Мгдижа ..." : userName)</div>
            <small class="text-muted">@Content.SendTime.ToLocalTime()</small>
        </div>
    </div>
    <p class="m-1 border-top border-dark-subtle fs-6 text-break">@Content.Context</p>
</div>

@code {
    [Parameter]
    public Conversation Content { get; set; } = new();

    private string? userName;
    private string? userIconURI;
    private string defaultIconURI = "images/GameIcons/gametitle.jpg";

    protected override async Task OnParametersSetAsync()
    {
        if (await UserService.HasUserAsync(Content.UserID))
        {
            var (name, icon) = await UserService.GetUserNameIconPairAsync(Content.UserID);
            userName = name;
            userIconURI = icon;
        }
        
    }
}