@page "/games"

@inject IUserStatusService UserStatus
@inject IGameService GameService

<PageTitle>找找你的游戏</PageTitle>

<div class="d-flex flex-column h-100">
    <!-- Search Bar -->
    <div class="d-flex gap-1">
        <GameSearchBar />
        <!-- Start a New Post -->
        <div class="btn-group m-auto" role="group" aria-label="New Post Button">
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#teamCreateModal" disabled="@(!UserStatus.UserHasLogin)">
                新组队
            </button>
        </div>
    </div>

    <!-- Scrollable Content instead of scrolling whole page -->
    <div class="flex-grow-1 flex-nowrap overflow-y-auto overflow-x-hidden">

        <AdCarousel />
        <div class="row row-cols-auto g-3 m-0">
            @if (existedGames is null)
            {
                <LoadingSpinner />
            }
            else
            {
                @foreach (var game in existedGames)
                {
                    <GameCard Game="@game" />
                }
            }
        </div>
    </div>
</div>

<NewPostModal />

@code {
    private Game[]? existedGames;

    protected override async Task OnInitializedAsync()
    {
        existedGames = await GameService.GetAllGameAsync();
    }
}