@page "/games"
@using GameFellowship.Data

<PageTitle>Find Your Game</PageTitle>

<div class="d-flex flex-column h-100">
    <!-- TODO: Search Bar -->
    <div class="d-flex gap-1">
        <form class="d-flex m-auto py-3 gap-1 w-75" role="search">
            <input class="form-control" type="search" placeholder="Game" aria-label="Search">
            <button class="btn btn-outline-success text-nowrap" type="button">搜索游戏</button>
        </form>
        <!-- Start a New Post -->
        <div class="btn-group m-auto" role="group" aria-label="New Post Button">
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                data-bs-target="#teamCreateModal">新组队</button>
        </div>
    </div>

    <!-- Scrollable Content instead of scrolling whole page -->
    <div class="flex-grow-1 flex-nowrap overflow-y-auto overflow-x-hidden">

        <AdCarousel />

        <!-- TODO: Team Finding Cards for all games -->
        <div class="row row-cols-auto g-3 m-0">
            @foreach (var game in existedGames)
            {
                <GameCard Game="@game" />
            }
        </div>
    </div>
</div>

<NewPostModal />

@code {
    private GameInfo[] existedGames = {
        new(1, "Touhou Project", 114514, "images/GameIcons/75750856_p0.jpg"),
        new(2, "Project Touhou", 1919, "images/GameIcons/gametitle.jpg"),
        new(2, "???", 810, "images/GameIcons/75750856_p0.jpg")
    };
}