@page "/games"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage

@inject IUserStatusService UserStatus
@inject IGameService GameService

<PageTitle>找找你的游戏</PageTitle>

<div class="d-flex flex-column h-100">
    <!-- Search Bar -->
    <div class="d-flex gap-1">
        <GameSearchBar />
        <!-- Start a New Post -->
        <div class="btn-group m-auto" role="group" aria-label="New Post Button">
            <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#teamCreateModal" disabled="@(!_userHasLogin)">
                新组队
            </button>
        </div>
    </div>

    <!-- Scrollable Content instead of scrolling whole page -->
    <div class="flex-grow-1 flex-nowrap overflow-y-auto overflow-x-hidden">

        <AdCarousel />
        <div class="row row-cols-auto g-3 m-0">
            @if (_existedGames is null)
            {
                <LoadingSpinner />
            }
            else
            {
                @foreach (var game in _existedGames)
                {
                    <GameCard Game="@game" />
                }
            }
        </div>
    </div>
</div>

<NewPostModal />

@code {
    private Game[]? _existedGames;
    private bool _userHasLogin = false;

    protected override async Task OnInitializedAsync()
    {
        _existedGames = await GameService.GetAllGameAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userIdResult = await SessionStorage.GetAsync<int>(UserStatus.SessionStorageKey);
        _userHasLogin = userIdResult.Success && UserStatus.UserHasLogin(userIdResult.Value);

        StateHasChanged();
    }
}