@page "/"

@inject IUserService UserService
@inject NavigationManager Navigation

<PageTitle>欢迎来到GameFellowship</PageTitle>

<div class="h-100">
	<div class="h-25"></div>
	<div class="d-flex flex-column align-items-center gap-3">
		<h1>欢迎来到</h1>
		<h1 class="fw-bold">GameFellowship</h1>
	</div>
	<div class="w-75 mx-auto my-5">
		<GameSearchBar LargeSearchBar="@true" />
	</div>
	@if (!UserService.UserHasLogin)
	{
		<div class="d-flex flex-wrap justify-content-center gap-5 m-5">
			<a role="button" href="/register"
			   class="btn btn-outline-info btn-lg mx-5 px-4 py-3">注册账号</a>
			<a role="button" href="/login"
			   class="btn btn-primary btn-lg mx-5 px-4 py-3">登陆账号</a>
		</div>
	}
</div>