@using GameFellowship.Data
@inject NavigationManager Navigation

<div class="col mx-auto">
    <div class="card h-100" style="max-width: 20rem;">
        <img class="card-img-top" src=@Game.IconURI alt="GameIcon">
        <div class="card-body">
            <h5 class="card-title fw-bold">@Game.GameName</h5>
            <p class="card-text">订阅人数: @Game.Followers</p>
            <div class="d-flex justify-content-between align-items-center gap-3">
                @if (Game.LastPostDate > DateTime.Now || Game.LastPostDate <= DateTime.MinValue)
                {
                    <small class="text-muted">没有组队需求 ...</small>
                }
                else
                {
                    <small class="text-muted">最后更新 @((DateTime.Now - Game.LastPostDate).TotalMinutes.ToString("F0")) 分钟前 ...</small>
                }
                <button class="btn btn-outline-primary p-1" type="button" @onclick="NavigateToGame">搜索队伍</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public GameModel Game { get; set; } = new();

    private void NavigateToGame()
    {
        Navigation.NavigateTo($"/teams/{Game.GameName}");
    }
}