@inherits LayoutComponentBase

<PageTitle>GameFellowship</PageTitle>

<div class="overflow-y-hidden">
    <div class="d-flex align-items-start overflow-hidden vh-100">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="tab-content container-fluid h-100 p-0" id="v-pills-tabContent">
            @Body
        </div>
    </div>
</div>
