@inherits LayoutComponentBase

<PageTitle>GameFellowship</PageTitle>

<div class="overflow-y-hidden">
    <div class="d-flex align-items-start overflow-hidden vh-100">
        <div class="h-100 p-1" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
            <NavMenu />
        </div>

        <div class="container-fluid h-100 p-0">
            @Body
        </div>
    </div>
</div>
