@using GameFellowship.Data
@inject UserInfoService UserService
@inject GameInfoService GameService

<div class="d-flex flex-column h-100">
    <UserIcon User="@user" />

    <ul class="nav nav-pills flex-column flex-grow-1 mx-1 my-2">
        <li class="nav-item">
            <NavLink class="nav-link" href="games">游戏</NavLink>
        </li>
        @if (gameNames is not null)
        {
            @foreach (var name in gameNames)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href=@("teams/" + name)>@name</NavLink>
                </li>
            }
        }
        <li class="nav-item mt-auto">
            <NavLink class="nav-link" href="messages">消息</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">设置</NavLink>
        </li>
    </ul>
        <hr>
        <a class="navbar-brand m-0" href="games">
            <div class="fs-5 fw-bolder text-light-emphasis m-auto">Game<br>Fellowship</div>
        </a>
</div>

@code {
    // FIXME: User info should be obtained from UserStatus
    private int userID = 1;

    private UserInfo? user;
    private string[]? gameNames;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUserAsync(userID);
        gameNames = await GameService.GetGameNameGroupAsync(user.GameIDs);
    }
}