<div class="d-flex flex-column h-100">

    <UserIcon />

    <ul class="nav nav-pills flex-column flex-grow-1 mx-1 my-2">
        <li class="nav-item">
            <NavLink class="nav-link text-nowrap" href="games">Games</NavLink>
        </li>
        @foreach (var name in gameNames)
        {
            <li class="nav-item">
                <NavLink class="nav-link text-nowrap" href=@("teams/" + name)>@name</NavLink>
            </li>
        }
        <li class="nav-item mt-auto">
            <NavLink class="nav-link text-nowrap" href="fetchdata">Weather</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-nowrap" href="messages">Messages</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-nowrap" href="" Match="NavLinkMatch.All">Settings</NavLink>
        </li>
    </ul>
    <nav class="navbar">
        <hr>
        <a class="navbar-brand m-0" href="games">
            <div class="fs-5 fw-bolder text-light-emphasis m-1">Game<br>Fellowship</div>
        </a>
    </nav>
</div>

@code {
    // TODO: Add Nav link after getting user's favourite game
    private string[] gameNames = { "Minecraft", "Destiny 2", "CSGO", "Apex" };
}
