@inject IUserService UserService
@inject IGameService GameService

<div class="d-flex flex-column h-100">
    <div class="dropdown dropend text-center my-2">
        @if (user is null || user.UserID <= 0)
        {
            <button class="dropdown-toggle link-secondary border-0 bg-transparent" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="rounded-circle" src="images/GameIcons/gametitle.jpg" alt="User" width="50" height="50">
            </button>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="login">登录</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="login/register">注册</a></li>
            </ul>
        }
        else
        {
            <button class="dropdown-toggle link-secondary border-0 bg-transparent" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img class="rounded-circle" src="@user.UserIconURI" alt="User" width="50" height="50">
            </button>
            <ul class="dropdown-menu text-small shadow">
                <li><button class="dropdown-item" type="button">新帖子</button></li>
                <li><button class="dropdown-item" type="button">我的帖子</button></li>
                <li><button class="dropdown-item" type="button">个人信息</button></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><button class="dropdown-item" type="button">退出登录</button></li>
            </ul>
        }
    </div>

    <ul class="nav nav-pills flex-column flex-grow-1 mx-1 my-2">
        <li class="nav-item">
            <NavLink class="nav-link" href="games">游戏</NavLink>
        </li>
        @if (gameNames is not null)
        {
            @foreach (var name in gameNames)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href=@("teams/" + name)>@name</NavLink>
                </li>
            }
        }
        <li class="nav-item mt-auto">
            <NavLink class="nav-link" href="messages">消息</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">设置</NavLink>
        </li>
    </ul>
    <hr>
    <a class="navbar-brand m-0" href="games">
        <div class="fs-5 fw-bolder text-light-emphasis m-auto">Game<br>Fellowship</div>
    </a>
</div>

@code {
    // FIXME: User info should be obtained from UserStatus
    private int userID = 1;

    private User? user;
    private string[]? gameNames;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUserAsync(userID);
        gameNames = await GameService.GetGameNamesAsync(user.GameIDs);
    }
}