<!-- TODO: offcanvas elements for team members info -->
<div class="offcanvas offcanvas-end w-25" tabindex="-1" id="teamMemberOffcanvas"
    aria-labelledby="teamMemberOffcanvasLabel">
    <div class="offcanvas-header border-bottom border-dark-subtle">
        <h5 class="offcanvas-title" id="teamMemberOffcanvasLabel">Team Members</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- User Icons -->
        <div class="h-100 p-2 d-flex flex-column gap-2 overflow-y-auto border border-info-subtle rounded-4">
            <!-- User Icon -->
            @foreach (var user in CurrentUsers)
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary">
                        <div class="d-flex justify-content-evenly align-items-center gap-1">
                            <img class="rounded-circle" src="images/UserIcons/50913860_p9.jpg" alt="User" width="40"
                                height="40">
                            <div class="fs-6 fw-bold text-break">@user</div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Block</a></li>
                        <li><a class="dropdown-item" href="#">Black List</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Add Friend</a></li>
                    </ul>
                </div>
            }
            <!-- Empty User Icon -->
            @for (int i = 0; i < (Total - CurrentUsers.Length); i++)
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary">
                        <div class="d-flex justify-content-evenly align-items-center gap-1">
                            <i class="bi bi-person-bounding-box" style="font-size: 1.5rem;"></i>
                            <div class="fs-6 fw-bold text-break">Empty</div>
                        </div>
                    </button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false" disabled>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Block</a></li>
                        <li><a class="dropdown-item" href="#">Black List</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Add Friend</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@code {
    // FIXME: User Name with User Icon uri
    [Parameter, EditorRequired]
    public string[] CurrentUsers { get; set; } = { };
    [Parameter, EditorRequired]
    public int Total { get; set; }
}