<div class="dropdown dropend text-center my-2">
    <a class="dropdown-toggle link-secondary" role="button"
        href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle" src="images/UserIcons/50913860_p9.jpg" alt="User" width="50" height="50">
    </a>
    <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">My Posts</a></li>
        <li><a class="dropdown-item" href="#">New Post</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
</div>